body{
    background-color: white;
    margin: 0;
    padding: 0;
}
.header{
    background-color: aliceblue;
    text-align: center;
}
.header ul{
    display: inline-flex;
    color: black;
    list-style: none;
}
.header ul li{
    width: 150px;
    margin: 10px;
    height: 20px;
}
.header ul li a{
    text-decoration: none;

}

