.balance
{
    text-align: center;
}
.rechargeForm{
    // border: 1px solid red;
    margin-left: 30rem;
    text-align: left;
    margin-right: 30em;
    margin-top: 2rem;
    background-color: white;
    border: 2px solid orangered;

    
}

.btn1{
    padding: 0.5rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
}