$primary-color: lightgrey;
$accent-color: orangered;
$seconday-color: white;

$text-color: black;
    $font-weights: (
        "normal":400,
        "medium": 500,
        "bold": 700
    );
 $mobile: 800px;
 